extends layout

block content
    div(class='wrapper')
        h1= title
        if error
            p Error: #{error.message}
            p Please restart the export.
        else if total === null
            div.progress
                div.progress-bar.progress-bar-striped.active(role='progressbar',aria-valuenow='#{count}',aria-valuemin="0",aria-valuemax="#{total}",style="width: 0%")
                    span 0% Complete
            p Fetching trade history.
            script(type='text/javascript').
                setTimeout(function() {
                    location.reload();
                }, 2000);
        else if total > count
            div.progress
                div.progress-bar.progress-bar-striped.active(role='progressbar',aria-valuenow='#{count}',aria-valuemin="0",aria-valuemax="#{total}",style="width: #{count*100/total}%")
                    span #{(count*100/total).toFixed(0)}% Complete
            p Fetching trade history. Loaded #{count} of #{total}.
            script(type='text/javascript').
                setTimeout(function() {
                    location.reload();
                }, 2000);
        else
            div.progress
                div.progress-bar.progress-bar-striped.active(role='progressbar',aria-valuenow='#{count}',aria-valuemin="0",aria-valuemax="#{total}",style="width: #{count*100/total}%")
                    span #{(count*100/total).toFixed(0)}% Complete
            p Done! Fetched #{total} trades.
            div.btn-group
                a(href='/exports/#{id}.csv')
                    button(type='button').btn-primary Download CSV Export
                button(type='submit').submit-button.btn-danger.remove-csv Delete CSV Export


block scripts
    script(type='text/javascript').
        jQuery('.remove-csv').click(function() {
            jQuery.ajax('/export/#{id}', {
                type: 'DELETE'
            }).done(function() {
                jQuery('.wrapper .progress').hide();
                jQuery('.wrapper .btn-group').hide();
                jQuery('.wrapper p').html('Export removed!');
            }).fail(function() {
                console.log('fail', arguments);
            });
        });